<style type="text/css">
body {
	background-color: #CCC;
}
</style>
<div class="padding">

  <super-navbar>
    <super-navbar-title>
      MichMediTrans 
    </super-navbar-title>
  </super-navbar>

  <p>Welcome to <strong> MichMediTrans</strong> &mdash; Patient transportation made easy!</p>

  <p>Please select a role: </p>

  <super-navigate view-id="using-the-scanner">
    <button  class="button button-block button-positive icon-left super-wand">Doctor?</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Patient</button>
  </super-navigate>

  <h2>Give us your feedback!</h2>

  <p>Feel free to contact us at <a href="mailto:contact@appgyver.com">najj@najjtech.com</a>, we would love to get your feedback!</p>

</div>
